Module {
    span: Some(
        Span {
            start: 0,
            end: 128,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 42,
                end: 50,
            },
        ),
        value: "campaign",
    },
    body: ModuleBody {
        span: Some(
            Span {
                start: 51,
                end: 127,
            },
        ),
        imports: [],
        annotations: [
            Annotation {
                span: Some(
                    Span {
                        start: 57,
                        end: 77,
                    },
                ),
                name: QualifiedIdentifier(
                    QualifiedIdentifier {
                        span: None,
                        module: Identifier {
                            span: Some(
                                Span {
                                    start: 58,
                                    end: 62,
                                },
                            ),
                            value: "skos",
                        },
                        member: Identifier {
                            span: Some(
                                Span {
                                    start: 63,
                                    end: 72,
                                },
                            ),
                            value: "prefLabel",
                        },
                    },
                ),
                value: Simple(
                    String(
                        LanguageString {
                            span: Some(
                                Span {
                                    start: 75,
                                    end: 77,
                                },
                            ),
                            value: "",
                            language: None,
                        },
                    ),
                ),
            },
            Annotation {
                span: Some(
                    Span {
                        start: 81,
                        end: 103,
                    },
                ),
                name: QualifiedIdentifier(
                    QualifiedIdentifier {
                        span: None,
                        module: Identifier {
                            span: Some(
                                Span {
                                    start: 82,
                                    end: 86,
                                },
                            ),
                            value: "skos",
                        },
                        member: Identifier {
                            span: Some(
                                Span {
                                    start: 87,
                                    end: 95,
                                },
                            ),
                            value: "altLabel",
                        },
                    },
                ),
                value: Simple(
                    String(
                        LanguageString {
                            span: Some(
                                Span {
                                    start: 98,
                                    end: 103,
                                },
                            ),
                            value: "",
                            language: Some(
                                LanguageTag {
                                    span: None,
                                    value: "en",
                                },
                            ),
                        },
                    ),
                ),
            },
            Annotation {
                span: Some(
                    Span {
                        start: 107,
                        end: 122,
                    },
                ),
                name: QualifiedIdentifier(
                    QualifiedIdentifier {
                        span: None,
                        module: Identifier {
                            span: Some(
                                Span {
                                    start: 108,
                                    end: 110,
                                },
                            ),
                            value: "dc",
                        },
                        member: Identifier {
                            span: Some(
                                Span {
                                    start: 111,
                                    end: 118,
                                },
                            ),
                            value: "version",
                        },
                    },
                ),
                value: Simple(
                    Integer(
                        3,
                    ),
                ),
            },
        ],
        definitions: [],
    },
}
