Module {
    span: Some(
        Span {
            start: 0,
            end: 62,
        },
    ),
    comments: [],
    name: Identifier {
        span: Some(
            Span {
                start: 26,
                end: 34,
            },
        ),
        value: "campaign",
    },
    base: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 35,
                end: 61,
            },
        ),
        comments: [],
        imports: [],
        annotations: [],
        definitions: [
            Entity(
                EntityDef {
                    span: Some(
                        Span {
                            start: 41,
                            end: 56,
                        },
                    ),
                    comments: [],
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 48,
                                end: 56,
                            },
                        ),
                        value: "Campaign",
                    },
                    body: None,
                },
            ),
        ],
    },
}
