Module {
    span: Some(
        Span {
            start: 0,
            end: 79,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 25,
                end: 33,
            },
        ),
        value: "campaign",
    },
    body: ModuleBody {
        span: Some(
            Span {
                start: 34,
                end: 78,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [
            Event(
                EventDef {
                    span: Some(
                        Span {
                            start: 40,
                            end: 73,
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 46,
                                end: 57,
                            },
                        ),
                        value: "NameChanged",
                    },
                    event_source: Identifier(
                        Identifier {
                            span: Some(
                                Span {
                                    start: 46,
                                    end: 57,
                                },
                            ),
                            value: "NameChanged",
                        },
                    ),
                    body: None,
                },
            ),
        ],
    },
}
