Module {
    span: Some(
        Span {
            start: 0,
            end: 69,
        },
    ),
    comments: [],
    name: Identifier {
        span: Some(
            Span {
                start: 33,
                end: 41,
            },
        ),
        value: "campaign",
    },
    body: ModuleBody {
        span: Some(
            Span {
                start: 42,
                end: 68,
            },
        ),
        comments: [],
        imports: [
            ImportStatement {
                span: Some(
                    Span {
                        start: 48,
                        end: 63,
                    },
                ),
                comments: [],
                imported: [
                    Member(
                        QualifiedIdentifier {
                            span: None,
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: 55,
                                        end: 58,
                                    },
                                ),
                                value: "xsd",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: 59,
                                        end: 63,
                                    },
                                ),
                                value: "base",
                            },
                        },
                    ),
                ],
            },
        ],
        annotations: [],
        definitions: [],
    },
}
