Module {
    span: Some(
        Span {
            start: 0,
            end: 98,
        },
    ),
    comments: [],
    name: Identifier {
        span: Some(
            Span {
                start: 33,
                end: 41,
            },
        ),
        value: "campaign",
    },
    base: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 42,
                end: 97,
            },
        ),
        comments: [],
        imports: [],
        annotations: [],
        definitions: [
            Union(
                UnionDef {
                    span: Some(
                        Span {
                            start: 48,
                            end: 92,
                        },
                    ),
                    comments: [],
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 54,
                                end: 66,
                            },
                        ),
                        value: "VehicleClass",
                    },
                    body: Some(
                        UnionBody {
                            span: Some(
                                Span {
                                    start: 67,
                                    end: 92,
                                },
                            ),
                            comments: [],
                            annotations: [],
                            variants: [
                                TypeVariant {
                                    span: Some(
                                        Span {
                                            start: 74,
                                            end: 77,
                                        },
                                    ),
                                    comments: [],
                                    name: Identifier(
                                        Identifier {
                                            span: Some(
                                                Span {
                                                    start: 74,
                                                    end: 77,
                                                },
                                            ),
                                            value: "Car",
                                        },
                                    ),
                                    rename: None,
                                    body: None,
                                },
                                TypeVariant {
                                    span: Some(
                                        Span {
                                            start: 82,
                                            end: 86,
                                        },
                                    ),
                                    comments: [],
                                    name: Identifier(
                                        Identifier {
                                            span: Some(
                                                Span {
                                                    start: 82,
                                                    end: 86,
                                                },
                                            ),
                                            value: "Boat",
                                        },
                                    ),
                                    rename: None,
                                    body: None,
                                },
                            ],
                        },
                    ),
                },
            ),
        ],
    },
}
