Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/annotation_multiple_language_string.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 135,
                line: 8,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 57,
                    line: 3,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 65,
                    line: 3,
                    column: 16,
                },
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 66,
                    line: 3,
                    column: 17,
                },
                end: SpanPosition {
                    byte: 134,
                    line: 7,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 72,
                                line: 5,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 129,
                                line: 5,
                                column: 60,
                            },
                        },
                    ),
                    name_reference: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 73,
                                        line: 5,
                                        column: 4,
                                    },
                                    end: SpanPosition {
                                        byte: 81,
                                        line: 5,
                                        column: 12,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 73,
                                            line: 5,
                                            column: 4,
                                        },
                                        end: SpanPosition {
                                            byte: 75,
                                            line: 5,
                                            column: 6,
                                        },
                                    },
                                ),
                                value: "dc",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 76,
                                            line: 5,
                                            column: 7,
                                        },
                                        end: SpanPosition {
                                            byte: 81,
                                            line: 5,
                                            column: 12,
                                        },
                                    },
                                ),
                                value: "title",
                            },
                        },
                    ),
                    value: List(
                        SequenceOfValues {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 84,
                                        line: 5,
                                        column: 15,
                                    },
                                    end: SpanPosition {
                                        byte: 129,
                                        line: 5,
                                        column: 60,
                                    },
                                },
                            ),
                            ordering: None,
                            uniqueness: None,
                            values: [
                                Simple(
                                    String(
                                        LanguageString {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 86,
                                                        line: 5,
                                                        column: 17,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 112,
                                                        line: 5,
                                                        column: 43,
                                                    },
                                                },
                                            ),
                                            value: "a rather good test",
                                            language: Some(
                                                LanguageTag {
                                                    span: Some(
                                                        Span {
                                                            start: SpanPosition {
                                                                byte: 106,
                                                                line: 5,
                                                                column: 37,
                                                            },
                                                            end: SpanPosition {
                                                                byte: 112,
                                                                line: 5,
                                                                column: 43,
                                                            },
                                                        },
                                                    ),
                                                    value: LanguageTag {
                                                        serialization: "en-GB",
                                                        language_end: 2,
                                                        extlang_end: 2,
                                                        script_end: 2,
                                                        region_end: 5,
                                                        variant_end: 5,
                                                        extension_end: 5,
                                                    },
                                                },
                                            ),
                                        },
                                    ),
                                ),
                                Simple(
                                    String(
                                        LanguageString {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 113,
                                                        line: 5,
                                                        column: 44,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 127,
                                                        line: 5,
                                                        column: 58,
                                                    },
                                                },
                                            ),
                                            value: "a test",
                                            language: Some(
                                                LanguageTag {
                                                    span: Some(
                                                        Span {
                                                            start: SpanPosition {
                                                                byte: 121,
                                                                line: 5,
                                                                column: 52,
                                                            },
                                                            end: SpanPosition {
                                                                byte: 127,
                                                                line: 5,
                                                                column: 58,
                                                            },
                                                        },
                                                    ),
                                                    value: LanguageTag {
                                                        serialization: "en-US",
                                                        language_end: 2,
                                                        extlang_end: 2,
                                                        script_end: 2,
                                                        region_end: 5,
                                                        variant_end: 5,
                                                        extension_end: 5,
                                                    },
                                                },
                                            ),
                                        },
                                    ),
                                ),
                            ],
                        },
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
