Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/annotation_single_mapping.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 76,
                line: 6,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 7,
                    line: 1,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 15,
                    line: 1,
                    column: 16,
                },
            },
        ),
        value: "Campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 16,
                    line: 1,
                    column: 17,
                },
                end: SpanPosition {
                    byte: 75,
                    line: 5,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 22,
                                line: 3,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 70,
                                line: 3,
                                column: 51,
                            },
                        },
                    ),
                    name_reference: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 23,
                                        line: 3,
                                        column: 4,
                                    },
                                    end: SpanPosition {
                                        byte: 35,
                                        line: 3,
                                        column: 16,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 23,
                                            line: 3,
                                            column: 4,
                                        },
                                        end: SpanPosition {
                                            byte: 25,
                                            line: 3,
                                            column: 6,
                                        },
                                    },
                                ),
                                value: "dc",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 26,
                                            line: 3,
                                            column: 7,
                                        },
                                        end: SpanPosition {
                                            byte: 35,
                                            line: 3,
                                            column: 16,
                                        },
                                    },
                                ),
                                value: "published",
                            },
                        },
                    ),
                    value: Mapping(
                        MappingValue {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 38,
                                        line: 3,
                                        column: 19,
                                    },
                                    end: SpanPosition {
                                        byte: 70,
                                        line: 3,
                                        column: 51,
                                    },
                                },
                            ),
                            domain: String(
                                LanguageString {
                                    span: Some(
                                        Span {
                                            start: SpanPosition {
                                                byte: 38,
                                                line: 3,
                                                column: 19,
                                            },
                                            end: SpanPosition {
                                                byte: 44,
                                                line: 3,
                                                column: 25,
                                            },
                                        },
                                    ),
                                    value: "date",
                                    language: None,
                                },
                            ),
                            range: ValueConstructor(
                                ValueConstructor {
                                    span: Some(
                                        Span {
                                            start: SpanPosition {
                                                byte: 48,
                                                line: 3,
                                                column: 29,
                                            },
                                            end: SpanPosition {
                                                byte: 70,
                                                line: 3,
                                                column: 51,
                                            },
                                        },
                                    ),
                                    type_name: QualifiedIdentifier(
                                        QualifiedIdentifier {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 48,
                                                        line: 3,
                                                        column: 29,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 56,
                                                        line: 3,
                                                        column: 37,
                                                    },
                                                },
                                            ),
                                            module: Identifier {
                                                span: Some(
                                                    Span {
                                                        start: SpanPosition {
                                                            byte: 48,
                                                            line: 3,
                                                            column: 29,
                                                        },
                                                        end: SpanPosition {
                                                            byte: 51,
                                                            line: 3,
                                                            column: 32,
                                                        },
                                                    },
                                                ),
                                                value: "xsd",
                                            },
                                            member: Identifier {
                                                span: Some(
                                                    Span {
                                                        start: SpanPosition {
                                                            byte: 52,
                                                            line: 3,
                                                            column: 33,
                                                        },
                                                        end: SpanPosition {
                                                            byte: 56,
                                                            line: 3,
                                                            column: 37,
                                                        },
                                                    },
                                                ),
                                                value: "date",
                                            },
                                        },
                                    ),
                                    value: String(
                                        LanguageString {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 57,
                                                        line: 3,
                                                        column: 38,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 69,
                                                        line: 3,
                                                        column: 50,
                                                    },
                                                },
                                            ),
                                            value: "2023-08-04",
                                            language: None,
                                        },
                                    ),
                                },
                            ),
                        },
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
