Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/annotation_single_double.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 77,
                line: 8,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 38,
                    line: 3,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 46,
                    line: 3,
                    column: 16,
                },
            },
        ),
        value: "Campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 47,
                    line: 3,
                    column: 17,
                },
                end: SpanPosition {
                    byte: 76,
                    line: 7,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 53,
                                line: 5,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 71,
                                line: 5,
                                column: 21,
                            },
                        },
                    ),
                    name_reference: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 54,
                                        line: 5,
                                        column: 4,
                                    },
                                    end: SpanPosition {
                                        byte: 61,
                                        line: 5,
                                        column: 11,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 54,
                                            line: 5,
                                            column: 4,
                                        },
                                        end: SpanPosition {
                                            byte: 56,
                                            line: 5,
                                            column: 6,
                                        },
                                    },
                                ),
                                value: "dc",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 57,
                                            line: 5,
                                            column: 7,
                                        },
                                        end: SpanPosition {
                                            byte: 61,
                                            line: 5,
                                            column: 11,
                                        },
                                    },
                                ),
                                value: "some",
                            },
                        },
                    ),
                    value: Simple(
                        Double(
                            1.2e-10,
                        ),
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
