Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/datatype_from_string.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 56,
                line: 6,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 7,
                    line: 1,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 14,
                    line: 1,
                    column: 15,
                },
            },
        ),
        value: "example",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 15,
                    line: 1,
                    column: 16,
                },
                end: SpanPosition {
                    byte: 55,
                    line: 5,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [
            Datatype(
                DatatypeDef {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 21,
                                line: 3,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 50,
                                line: 3,
                                column: 32,
                            },
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: SpanPosition {
                                    byte: 30,
                                    line: 3,
                                    column: 12,
                                },
                                end: SpanPosition {
                                    byte: 40,
                                    line: 3,
                                    column: 22,
                                },
                            },
                        ),
                        value: "nameString",
                    },
                    opaque: false,
                    base_type: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: None,
                            module: Identifier {
                                span: None,
                                value: "sdml",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 44,
                                            line: 3,
                                            column: 26,
                                        },
                                        end: SpanPosition {
                                            byte: 50,
                                            line: 3,
                                            column: 32,
                                        },
                                    },
                                ),
                                value: "string",
                            },
                        },
                    ),
                    body: None,
                },
            ),
        ],
    },
}
