Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/datatype_empty.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 83,
                line: 8,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 29,
                    line: 3,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 37,
                    line: 3,
                    column: 16,
                },
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 38,
                    line: 3,
                    column: 17,
                },
                end: SpanPosition {
                    byte: 82,
                    line: 7,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [
            Datatype(
                DatatypeDef {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 44,
                                line: 5,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 77,
                                line: 5,
                                column: 36,
                            },
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: SpanPosition {
                                    byte: 53,
                                    line: 5,
                                    column: 12,
                                },
                                end: SpanPosition {
                                    byte: 63,
                                    line: 5,
                                    column: 22,
                                },
                            },
                        ),
                        value: "nameString",
                    },
                    opaque: false,
                    base_type: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 67,
                                        line: 5,
                                        column: 26,
                                    },
                                    end: SpanPosition {
                                        byte: 77,
                                        line: 5,
                                        column: 36,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 67,
                                            line: 5,
                                            column: 26,
                                        },
                                        end: SpanPosition {
                                            byte: 70,
                                            line: 5,
                                            column: 29,
                                        },
                                    },
                                ),
                                value: "xsd",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 71,
                                            line: 5,
                                            column: 30,
                                        },
                                        end: SpanPosition {
                                            byte: 77,
                                            line: 5,
                                            column: 36,
                                        },
                                    },
                                ),
                                value: "string",
                            },
                        },
                    ),
                    body: None,
                },
            ),
        ],
    },
}
