Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/datatype_with_restrictions.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 92,
                line: 8,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 7,
                    line: 1,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 14,
                    line: 1,
                    column: 15,
                },
            },
        ),
        value: "example",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 15,
                    line: 1,
                    column: 16,
                },
                end: SpanPosition {
                    byte: 91,
                    line: 7,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [
            Datatype(
                DatatypeDef {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 21,
                                line: 3,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 86,
                                line: 5,
                                column: 6,
                            },
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: SpanPosition {
                                    byte: 30,
                                    line: 3,
                                    column: 12,
                                },
                                end: SpanPosition {
                                    byte: 40,
                                    line: 3,
                                    column: 22,
                                },
                            },
                        ),
                        value: "unixUserId",
                    },
                    opaque: false,
                    base_type: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 44,
                                        line: 3,
                                        column: 26,
                                    },
                                    end: SpanPosition {
                                        byte: 54,
                                        line: 3,
                                        column: 36,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 44,
                                            line: 3,
                                            column: 26,
                                        },
                                        end: SpanPosition {
                                            byte: 47,
                                            line: 3,
                                            column: 29,
                                        },
                                    },
                                ),
                                value: "xsd",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 48,
                                            line: 3,
                                            column: 30,
                                        },
                                        end: SpanPosition {
                                            byte: 54,
                                            line: 3,
                                            column: 36,
                                        },
                                    },
                                ),
                                value: "string",
                            },
                        },
                    ),
                    body: Some(
                        AnnotationOnlyBody {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 55,
                                        line: 3,
                                        column: 37,
                                    },
                                    end: SpanPosition {
                                        byte: 86,
                                        line: 5,
                                        column: 6,
                                    },
                                },
                            ),
                            annotations: [
                                Property(
                                    AnnotationProperty {
                                        span: Some(
                                            Span {
                                                start: SpanPosition {
                                                    byte: 62,
                                                    line: 4,
                                                    column: 5,
                                                },
                                                end: SpanPosition {
                                                    byte: 80,
                                                    line: 4,
                                                    column: 23,
                                                },
                                            },
                                        ),
                                        name_reference: QualifiedIdentifier(
                                            QualifiedIdentifier {
                                                span: Some(
                                                    Span {
                                                        start: SpanPosition {
                                                            byte: 63,
                                                            line: 4,
                                                            column: 6,
                                                        },
                                                        end: SpanPosition {
                                                            byte: 76,
                                                            line: 4,
                                                            column: 19,
                                                        },
                                                    },
                                                ),
                                                module: Identifier {
                                                    span: Some(
                                                        Span {
                                                            start: SpanPosition {
                                                                byte: 63,
                                                                line: 4,
                                                                column: 6,
                                                            },
                                                            end: SpanPosition {
                                                                byte: 66,
                                                                line: 4,
                                                                column: 9,
                                                            },
                                                        },
                                                    ),
                                                    value: "xsd",
                                                },
                                                member: Identifier {
                                                    span: Some(
                                                        Span {
                                                            start: SpanPosition {
                                                                byte: 67,
                                                                line: 4,
                                                                column: 10,
                                                            },
                                                            end: SpanPosition {
                                                                byte: 76,
                                                                line: 4,
                                                                column: 19,
                                                            },
                                                        },
                                                    ),
                                                    value: "maxLength",
                                                },
                                            },
                                        ),
                                        value: Simple(
                                            Integer(
                                                8,
                                            ),
                                        ),
                                    },
                                ),
                            ],
                        },
                    ),
                },
            ),
        ],
    },
}
