Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/entity_with_diff_members.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: 0,
            end: 151,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 43,
                end: 51,
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 52,
                end: 150,
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [
            Entity(
                EntityDef {
                    span: Some(
                        Span {
                            start: 58,
                            end: 145,
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 65,
                                end: 73,
                            },
                        ),
                        value: "Campaign",
                    },
                    body: Some(
                        EntityBody {
                            span: Some(
                                Span {
                                    start: 74,
                                    end: 145,
                                },
                            ),
                            identity: Member {
                                span: None,
                                kind: Definition(
                                    MemberDef {
                                        span: Some(
                                            Span {
                                                start: 91,
                                                end: 106,
                                            },
                                        ),
                                        name: Identifier {
                                            span: Some(
                                                Span {
                                                    start: 91,
                                                    end: 92,
                                                },
                                            ),
                                            value: "a",
                                        },
                                        target_cardinality: Cardinality {
                                            span: None,
                                            ordering: None,
                                            uniqueness: None,
                                            range: CardinalityRange {
                                                span: None,
                                                min: 1,
                                                max: Some(
                                                    1,
                                                ),
                                            },
                                        },
                                        target_type: Type(
                                            Identifier(
                                                Identifier {
                                                    span: Some(
                                                        Span {
                                                            start: 96,
                                                            end: 106,
                                                        },
                                                    ),
                                                    value: "CampaignId",
                                                },
                                            ),
                                        ),
                                        body: None,
                                    },
                                ),
                            },
                            annotations: [],
                            members: [
                                Member {
                                    span: None,
                                    kind: Definition(
                                        MemberDef {
                                            span: Some(
                                                Span {
                                                    start: 112,
                                                    end: 127,
                                                },
                                            ),
                                            name: Identifier {
                                                span: Some(
                                                    Span {
                                                        start: 112,
                                                        end: 113,
                                                    },
                                                ),
                                                value: "b",
                                            },
                                            target_cardinality: Cardinality {
                                                span: None,
                                                ordering: None,
                                                uniqueness: None,
                                                range: CardinalityRange {
                                                    span: None,
                                                    min: 1,
                                                    max: Some(
                                                        1,
                                                    ),
                                                },
                                            },
                                            target_type: Type(
                                                QualifiedIdentifier(
                                                    QualifiedIdentifier {
                                                        span: Some(
                                                            Span {
                                                                start: 117,
                                                                end: 127,
                                                            },
                                                        ),
                                                        module: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 117,
                                                                    end: 120,
                                                                },
                                                            ),
                                                            value: "xsd",
                                                        },
                                                        member: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 121,
                                                                    end: 127,
                                                                },
                                                            ),
                                                            value: "string",
                                                        },
                                                    },
                                                ),
                                            ),
                                            body: None,
                                        },
                                    ),
                                },
                                Member {
                                    span: None,
                                    kind: Reference(
                                        Identifier(
                                            Identifier {
                                                span: Some(
                                                    Span {
                                                        start: 133,
                                                        end: 138,
                                                    },
                                                ),
                                                value: "c",
                                            },
                                        ),
                                    ),
                                },
                            ],
                        },
                    ),
                },
            ),
        ],
    },
}
