Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/enum_empty.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 58,
                line: 8,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 24,
                    line: 3,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 32,
                    line: 3,
                    column: 16,
                },
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 33,
                    line: 3,
                    column: 17,
                },
                end: SpanPosition {
                    byte: 57,
                    line: 7,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [
            Enum(
                EnumDef {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 39,
                                line: 5,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 52,
                                line: 5,
                                column: 16,
                            },
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: SpanPosition {
                                    byte: 44,
                                    line: 5,
                                    column: 8,
                                },
                                end: SpanPosition {
                                    byte: 52,
                                    line: 5,
                                    column: 16,
                                },
                            },
                        ),
                        value: "NameKind",
                    },
                    body: None,
                },
            ),
        ],
    },
}
