Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/import_multiple_mixed.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 95,
                line: 8,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 34,
                    line: 3,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 42,
                    line: 3,
                    column: 16,
                },
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 43,
                    line: 3,
                    column: 17,
                },
                end: SpanPosition {
                    byte: 94,
                    line: 7,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [
            ImportStatement {
                span: Some(
                    Span {
                        start: SpanPosition {
                            byte: 49,
                            line: 5,
                            column: 3,
                        },
                        end: SpanPosition {
                            byte: 89,
                            line: 5,
                            column: 43,
                        },
                    },
                ),
                imports: [
                    Module(
                        ModuleImport {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 58,
                                        line: 5,
                                        column: 12,
                                    },
                                    end: SpanPosition {
                                        byte: 64,
                                        line: 5,
                                        column: 18,
                                    },
                                },
                            ),
                            name: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 58,
                                            line: 5,
                                            column: 12,
                                        },
                                        end: SpanPosition {
                                            byte: 64,
                                            line: 5,
                                            column: 18,
                                        },
                                    },
                                ),
                                value: "target",
                            },
                            version_uri: None,
                        },
                    ),
                    Member(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 65,
                                        line: 5,
                                        column: 19,
                                    },
                                    end: SpanPosition {
                                        byte: 73,
                                        line: 5,
                                        column: 27,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 65,
                                            line: 5,
                                            column: 19,
                                        },
                                        end: SpanPosition {
                                            byte: 68,
                                            line: 5,
                                            column: 22,
                                        },
                                    },
                                ),
                                value: "xsd",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 69,
                                            line: 5,
                                            column: 23,
                                        },
                                        end: SpanPosition {
                                            byte: 73,
                                            line: 5,
                                            column: 27,
                                        },
                                    },
                                ),
                                value: "base",
                            },
                        },
                    ),
                    Member(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 74,
                                        line: 5,
                                        column: 28,
                                    },
                                    end: SpanPosition {
                                        byte: 82,
                                        line: 5,
                                        column: 36,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 74,
                                            line: 5,
                                            column: 28,
                                        },
                                        end: SpanPosition {
                                            byte: 77,
                                            line: 5,
                                            column: 31,
                                        },
                                    },
                                ),
                                value: "xml",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 78,
                                            line: 5,
                                            column: 32,
                                        },
                                        end: SpanPosition {
                                            byte: 82,
                                            line: 5,
                                            column: 36,
                                        },
                                    },
                                ),
                                value: "lang",
                            },
                        },
                    ),
                    Module(
                        ModuleImport {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 83,
                                        line: 5,
                                        column: 37,
                                    },
                                    end: SpanPosition {
                                        byte: 87,
                                        line: 5,
                                        column: 41,
                                    },
                                },
                            ),
                            name: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 83,
                                            line: 5,
                                            column: 37,
                                        },
                                        end: SpanPosition {
                                            byte: 87,
                                            line: 5,
                                            column: 41,
                                        },
                                    },
                                ),
                                value: "skos",
                            },
                            version_uri: None,
                        },
                    ),
                ],
            },
        ],
        annotations: [],
        definitions: [],
    },
}
