Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/import_multiple_members.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: 0,
            end: 58,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 7,
                end: 15,
            },
        ),
        value: "Campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 16,
                end: 57,
            },
        ),
        file_id: None,
        is_library: false,
        imports: [
            ImportStatement {
                span: Some(
                    Span {
                        start: 22,
                        end: 50,
                    },
                ),
                imports: [
                    Member(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: 31,
                                    end: 39,
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: 31,
                                        end: 34,
                                    },
                                ),
                                value: "xsd",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: 35,
                                        end: 39,
                                    },
                                ),
                                value: "base",
                            },
                        },
                    ),
                    Member(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: 40,
                                    end: 48,
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: 40,
                                        end: 43,
                                    },
                                ),
                                value: "xml",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: 44,
                                        end: 48,
                                    },
                                ),
                                value: "lang",
                            },
                        },
                    ),
                ],
            },
        ],
        annotations: [],
        definitions: [],
    },
}
