Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/module_with_underscore.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 63,
                line: 4,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 44,
                    line: 3,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 55,
                    line: 3,
                    column: 19,
                },
            },
        ),
        value: "rental_cars",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 56,
                    line: 3,
                    column: 20,
                },
                end: SpanPosition {
                    byte: 62,
                    line: 3,
                    column: 26,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [],
    },
}
