Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/module_annotations.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 124,
                line: 13,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 7,
                    line: 1,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 11,
                    line: 1,
                    column: 12,
                },
            },
        ),
        value: "annx",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 12,
                    line: 1,
                    column: 13,
                },
                end: SpanPosition {
                    byte: 123,
                    line: 12,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 18,
                                line: 3,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 52,
                                line: 3,
                                column: 37,
                            },
                        },
                    ),
                    name_reference: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 19,
                                        line: 3,
                                        column: 4,
                                    },
                                    end: SpanPosition {
                                        byte: 27,
                                        line: 3,
                                        column: 12,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 19,
                                            line: 3,
                                            column: 4,
                                        },
                                        end: SpanPosition {
                                            byte: 22,
                                            line: 3,
                                            column: 7,
                                        },
                                    },
                                ),
                                value: "xml",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 23,
                                            line: 3,
                                            column: 8,
                                        },
                                        end: SpanPosition {
                                            byte: 27,
                                            line: 3,
                                            column: 12,
                                        },
                                    },
                                ),
                                value: "base",
                            },
                        },
                    ),
                    value: Simple(
                        IriReference(
                            Url {
                                scheme: "https",
                                cannot_be_a_base: false,
                                username: "",
                                password: None,
                                host: Some(
                                    Domain(
                                        "example.org",
                                    ),
                                ),
                                port: None,
                                path: "/",
                                query: None,
                                fragment: None,
                            },
                        ),
                    ),
                },
            ),
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 56,
                                line: 5,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 71,
                                line: 5,
                                column: 18,
                            },
                        },
                    ),
                    name_reference: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 57,
                                        line: 5,
                                        column: 4,
                                    },
                                    end: SpanPosition {
                                        byte: 67,
                                        line: 5,
                                        column: 14,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 57,
                                            line: 5,
                                            column: 4,
                                        },
                                        end: SpanPosition {
                                            byte: 59,
                                            line: 5,
                                            column: 6,
                                        },
                                    },
                                ),
                                value: "dc",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 60,
                                            line: 5,
                                            column: 7,
                                        },
                                        end: SpanPosition {
                                            byte: 67,
                                            line: 5,
                                            column: 14,
                                        },
                                    },
                                ),
                                value: "version",
                            },
                        },
                    ),
                    value: Simple(
                        Integer(
                            2,
                        ),
                    ),
                },
            ),
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 75,
                                line: 7,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 118,
                                line: 10,
                                column: 4,
                            },
                        },
                    ),
                    name_reference: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 76,
                                        line: 7,
                                        column: 4,
                                    },
                                    end: SpanPosition {
                                        byte: 89,
                                        line: 7,
                                        column: 17,
                                    },
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 76,
                                            line: 7,
                                            column: 4,
                                        },
                                        end: SpanPosition {
                                            byte: 80,
                                            line: 7,
                                            column: 8,
                                        },
                                    },
                                ),
                                value: "skos",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 81,
                                            line: 7,
                                            column: 9,
                                        },
                                        end: SpanPosition {
                                            byte: 89,
                                            line: 7,
                                            column: 17,
                                        },
                                    },
                                ),
                                value: "prefLang",
                            },
                        },
                    ),
                    value: List(
                        SequenceOfValues {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 92,
                                        line: 7,
                                        column: 20,
                                    },
                                    end: SpanPosition {
                                        byte: 118,
                                        line: 10,
                                        column: 4,
                                    },
                                },
                            ),
                            ordering: None,
                            uniqueness: None,
                            values: [
                                Simple(
                                    String(
                                        LanguageString {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 98,
                                                        line: 8,
                                                        column: 5,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 105,
                                                        line: 8,
                                                        column: 12,
                                                    },
                                                },
                                            ),
                                            value: "aa",
                                            language: Some(
                                                LanguageTag {
                                                    span: Some(
                                                        Span {
                                                            start: SpanPosition {
                                                                byte: 102,
                                                                line: 8,
                                                                column: 9,
                                                            },
                                                            end: SpanPosition {
                                                                byte: 105,
                                                                line: 8,
                                                                column: 12,
                                                            },
                                                        },
                                                    ),
                                                    value: LanguageTag {
                                                        serialization: "en",
                                                        language_end: 2,
                                                        extlang_end: 2,
                                                        script_end: 2,
                                                        region_end: 2,
                                                        variant_end: 2,
                                                        extension_end: 2,
                                                    },
                                                },
                                            ),
                                        },
                                    ),
                                ),
                                Simple(
                                    String(
                                        LanguageString {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 110,
                                                        line: 9,
                                                        column: 5,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 114,
                                                        line: 9,
                                                        column: 9,
                                                    },
                                                },
                                            ),
                                            value: "bb",
                                            language: None,
                                        },
                                    ),
                                ),
                            ],
                        },
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
