Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/module_empty_with_comments.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 251,
                line: 9,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 214,
                    line: 8,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 222,
                    line: 8,
                    column: 16,
                },
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 223,
                    line: 8,
                    column: 17,
                },
                end: SpanPosition {
                    byte: 229,
                    line: 8,
                    column: 23,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [],
    },
}
