Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/property_def_some.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 106,
                line: 6,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 7,
                    line: 1,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 12,
                    line: 1,
                    column: 13,
                },
            },
        ),
        value: "ddict",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 13,
                    line: 1,
                    column: 14,
                },
                end: SpanPosition {
                    byte: 105,
                    line: 5,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [
            Property(
                PropertyDef {
                    span: None,
                    member: MemberDef {
                        span: Some(
                            Span {
                                start: SpanPosition {
                                    byte: 27,
                                    line: 2,
                                    column: 12,
                                },
                                end: SpanPosition {
                                    byte: 101,
                                    line: 4,
                                    column: 6,
                                },
                            },
                        ),
                        name: Identifier {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 27,
                                        line: 2,
                                        column: 12,
                                    },
                                    end: SpanPosition {
                                        byte: 37,
                                        line: 2,
                                        column: 22,
                                    },
                                },
                            ),
                            value: "identifier",
                        },
                        target_cardinality: Cardinality {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 41,
                                        line: 2,
                                        column: 26,
                                    },
                                    end: SpanPosition {
                                        byte: 44,
                                        line: 2,
                                        column: 29,
                                    },
                                },
                            ),
                            ordering: None,
                            uniqueness: None,
                            range: CardinalityRange {
                                span: None,
                                min: 2,
                                max: Some(
                                    2,
                                ),
                            },
                        },
                        target_type: Type(
                            QualifiedIdentifier(
                                QualifiedIdentifier {
                                    span: Some(
                                        Span {
                                            start: SpanPosition {
                                                byte: 45,
                                                line: 2,
                                                column: 30,
                                            },
                                            end: SpanPosition {
                                                byte: 62,
                                                line: 2,
                                                column: 47,
                                            },
                                        },
                                    ),
                                    module: Identifier {
                                        span: Some(
                                            Span {
                                                start: SpanPosition {
                                                    byte: 45,
                                                    line: 2,
                                                    column: 30,
                                                },
                                                end: SpanPosition {
                                                    byte: 52,
                                                    line: 2,
                                                    column: 37,
                                                },
                                            },
                                        ),
                                        value: "account",
                                    },
                                    member: Identifier {
                                        span: Some(
                                            Span {
                                                start: SpanPosition {
                                                    byte: 53,
                                                    line: 2,
                                                    column: 38,
                                                },
                                                end: SpanPosition {
                                                    byte: 62,
                                                    line: 2,
                                                    column: 47,
                                                },
                                            },
                                        ),
                                        value: "AccountId",
                                    },
                                },
                            ),
                        ),
                        body: Some(
                            AnnotationOnlyBody {
                                span: Some(
                                    Span {
                                        start: SpanPosition {
                                            byte: 63,
                                            line: 2,
                                            column: 48,
                                        },
                                        end: SpanPosition {
                                            byte: 101,
                                            line: 4,
                                            column: 6,
                                        },
                                    },
                                ),
                                annotations: [
                                    Property(
                                        AnnotationProperty {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 70,
                                                        line: 3,
                                                        column: 5,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 95,
                                                        line: 3,
                                                        column: 30,
                                                    },
                                                },
                                            ),
                                            name_reference: QualifiedIdentifier(
                                                QualifiedIdentifier {
                                                    span: Some(
                                                        Span {
                                                            start: SpanPosition {
                                                                byte: 71,
                                                                line: 3,
                                                                column: 6,
                                                            },
                                                            end: SpanPosition {
                                                                byte: 86,
                                                                line: 3,
                                                                column: 21,
                                                            },
                                                        },
                                                    ),
                                                    module: Identifier {
                                                        span: Some(
                                                            Span {
                                                                start: SpanPosition {
                                                                    byte: 71,
                                                                    line: 3,
                                                                    column: 6,
                                                                },
                                                                end: SpanPosition {
                                                                    byte: 75,
                                                                    line: 3,
                                                                    column: 10,
                                                                },
                                                            },
                                                        ),
                                                        value: "skos",
                                                    },
                                                    member: Identifier {
                                                        span: Some(
                                                            Span {
                                                                start: SpanPosition {
                                                                    byte: 76,
                                                                    line: 3,
                                                                    column: 11,
                                                                },
                                                                end: SpanPosition {
                                                                    byte: 86,
                                                                    line: 3,
                                                                    column: 21,
                                                                },
                                                            },
                                                        ),
                                                        value: "definition",
                                                    },
                                                },
                                            ),
                                            value: Simple(
                                                String(
                                                    LanguageString {
                                                        span: Some(
                                                            Span {
                                                                start: SpanPosition {
                                                                    byte: 89,
                                                                    line: 3,
                                                                    column: 24,
                                                                },
                                                                end: SpanPosition {
                                                                    byte: 95,
                                                                    line: 3,
                                                                    column: 30,
                                                                },
                                                            },
                                                        ),
                                                        value: "a",
                                                        language: Some(
                                                            LanguageTag {
                                                                span: Some(
                                                                    Span {
                                                                        start: SpanPosition {
                                                                            byte: 92,
                                                                            line: 3,
                                                                            column: 27,
                                                                        },
                                                                        end: SpanPosition {
                                                                            byte: 95,
                                                                            line: 3,
                                                                            column: 30,
                                                                        },
                                                                    },
                                                                ),
                                                                value: LanguageTag {
                                                                    serialization: "en",
                                                                    language_end: 2,
                                                                    extlang_end: 2,
                                                                    script_end: 2,
                                                                    region_end: 2,
                                                                    variant_end: 2,
                                                                    extension_end: 2,
                                                                },
                                                            },
                                                        ),
                                                    },
                                                ),
                                            ),
                                        },
                                    ),
                                ],
                            },
                        ),
                    },
                },
            ),
        ],
    },
}
