Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/structure_mapping_type.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 103,
                line: 8,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 7,
                    line: 1,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 15,
                    line: 1,
                    column: 16,
                },
            },
        ),
        value: "Campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 16,
                    line: 1,
                    column: 17,
                },
                end: SpanPosition {
                    byte: 102,
                    line: 7,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [
            Structure(
                StructureDef {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 22,
                                line: 3,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 97,
                                line: 5,
                                column: 6,
                            },
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: SpanPosition {
                                    byte: 32,
                                    line: 3,
                                    column: 13,
                                },
                                end: SpanPosition {
                                    byte: 37,
                                    line: 3,
                                    column: 18,
                                },
                            },
                        ),
                        value: "Thing",
                    },
                    body: Some(
                        StructureBody {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 38,
                                        line: 3,
                                        column: 19,
                                    },
                                    end: SpanPosition {
                                        byte: 97,
                                        line: 5,
                                        column: 6,
                                    },
                                },
                            ),
                            annotations: [],
                            members: [
                                Member {
                                    span: None,
                                    kind: Definition(
                                        MemberDef {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 45,
                                                        line: 4,
                                                        column: 5,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 91,
                                                        line: 4,
                                                        column: 51,
                                                    },
                                                },
                                            ),
                                            name: Identifier {
                                                span: Some(
                                                    Span {
                                                        start: SpanPosition {
                                                            byte: 45,
                                                            line: 4,
                                                            column: 5,
                                                        },
                                                        end: SpanPosition {
                                                            byte: 55,
                                                            line: 4,
                                                            column: 15,
                                                        },
                                                    },
                                                ),
                                                value: "properties",
                                            },
                                            target_cardinality: Cardinality {
                                                span: Some(
                                                    Span {
                                                        start: SpanPosition {
                                                            byte: 59,
                                                            line: 4,
                                                            column: 19,
                                                        },
                                                        end: SpanPosition {
                                                            byte: 71,
                                                            line: 4,
                                                            column: 31,
                                                        },
                                                    },
                                                ),
                                                ordering: None,
                                                uniqueness: Some(
                                                    Unique,
                                                ),
                                                range: CardinalityRange {
                                                    span: None,
                                                    min: 1,
                                                    max: None,
                                                },
                                            },
                                            target_type: MappingType(
                                                MappingType {
                                                    span: Some(
                                                        Span {
                                                            start: SpanPosition {
                                                                byte: 72,
                                                                line: 4,
                                                                column: 32,
                                                            },
                                                            end: SpanPosition {
                                                                byte: 91,
                                                                line: 4,
                                                                column: 51,
                                                            },
                                                        },
                                                    ),
                                                    domain: Type(
                                                        QualifiedIdentifier(
                                                            QualifiedIdentifier {
                                                                span: Some(
                                                                    Span {
                                                                        start: SpanPosition {
                                                                            byte: 73,
                                                                            line: 4,
                                                                            column: 33,
                                                                        },
                                                                        end: SpanPosition {
                                                                            byte: 79,
                                                                            line: 4,
                                                                            column: 39,
                                                                        },
                                                                    },
                                                                ),
                                                                module: Identifier {
                                                                    span: None,
                                                                    value: "sdml",
                                                                },
                                                                member: Identifier {
                                                                    span: Some(
                                                                        Span {
                                                                            start: SpanPosition {
                                                                                byte: 73,
                                                                                line: 4,
                                                                                column: 33,
                                                                            },
                                                                            end: SpanPosition {
                                                                                byte: 79,
                                                                                line: 4,
                                                                                column: 39,
                                                                            },
                                                                        },
                                                                    ),
                                                                    value: "string",
                                                                },
                                                            },
                                                        ),
                                                    ),
                                                    range: Type(
                                                        QualifiedIdentifier(
                                                            QualifiedIdentifier {
                                                                span: Some(
                                                                    Span {
                                                                        start: SpanPosition {
                                                                            byte: 83,
                                                                            line: 4,
                                                                            column: 43,
                                                                        },
                                                                        end: SpanPosition {
                                                                            byte: 90,
                                                                            line: 4,
                                                                            column: 50,
                                                                        },
                                                                    },
                                                                ),
                                                                module: Identifier {
                                                                    span: None,
                                                                    value: "sdml",
                                                                },
                                                                member: Identifier {
                                                                    span: Some(
                                                                        Span {
                                                                            start: SpanPosition {
                                                                                byte: 83,
                                                                                line: 4,
                                                                                column: 43,
                                                                            },
                                                                            end: SpanPosition {
                                                                                byte: 90,
                                                                                line: 4,
                                                                                column: 50,
                                                                            },
                                                                        },
                                                                    ),
                                                                    value: "integer",
                                                                },
                                                            },
                                                        ),
                                                    ),
                                                },
                                            ),
                                            body: None,
                                        },
                                    ),
                                },
                            ],
                        },
                    ),
                },
            ),
        ],
    },
}
