Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/union_rename_variant.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: SpanPosition {
                byte: 0,
                line: 1,
                column: 1,
            },
            end: SpanPosition {
                byte: 117,
                line: 11,
                column: 1,
            },
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 40,
                    line: 3,
                    column: 8,
                },
                end: SpanPosition {
                    byte: 48,
                    line: 3,
                    column: 16,
                },
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: SpanPosition {
                    byte: 49,
                    line: 3,
                    column: 17,
                },
                end: SpanPosition {
                    byte: 116,
                    line: 10,
                    column: 4,
                },
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [],
        definitions: [
            Union(
                UnionDef {
                    span: Some(
                        Span {
                            start: SpanPosition {
                                byte: 55,
                                line: 5,
                                column: 3,
                            },
                            end: SpanPosition {
                                byte: 111,
                                line: 8,
                                column: 6,
                            },
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: SpanPosition {
                                    byte: 61,
                                    line: 5,
                                    column: 9,
                                },
                                end: SpanPosition {
                                    byte: 73,
                                    line: 5,
                                    column: 21,
                                },
                            },
                        ),
                        value: "VehicleClass",
                    },
                    body: Some(
                        UnionBody {
                            span: Some(
                                Span {
                                    start: SpanPosition {
                                        byte: 74,
                                        line: 5,
                                        column: 22,
                                    },
                                    end: SpanPosition {
                                        byte: 111,
                                        line: 8,
                                        column: 6,
                                    },
                                },
                            ),
                            annotations: [],
                            variants: [
                                TypeVariant {
                                    span: Some(
                                        Span {
                                            start: SpanPosition {
                                                byte: 81,
                                                line: 6,
                                                column: 5,
                                            },
                                            end: SpanPosition {
                                                byte: 84,
                                                line: 6,
                                                column: 8,
                                            },
                                        },
                                    ),
                                    name_reference: Identifier(
                                        Identifier {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 81,
                                                        line: 6,
                                                        column: 5,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 84,
                                                        line: 6,
                                                        column: 8,
                                                    },
                                                },
                                            ),
                                            value: "Car",
                                        },
                                    ),
                                    rename: None,
                                    body: None,
                                },
                                TypeVariant {
                                    span: Some(
                                        Span {
                                            start: SpanPosition {
                                                byte: 89,
                                                line: 7,
                                                column: 5,
                                            },
                                            end: SpanPosition {
                                                byte: 105,
                                                line: 7,
                                                column: 21,
                                            },
                                        },
                                    ),
                                    name_reference: Identifier(
                                        Identifier {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 89,
                                                        line: 7,
                                                        column: 5,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 93,
                                                        line: 7,
                                                        column: 9,
                                                    },
                                                },
                                            ),
                                            value: "Boat",
                                        },
                                    ),
                                    rename: Some(
                                        Identifier {
                                            span: Some(
                                                Span {
                                                    start: SpanPosition {
                                                        byte: 97,
                                                        line: 7,
                                                        column: 13,
                                                    },
                                                    end: SpanPosition {
                                                        byte: 105,
                                                        line: 7,
                                                        column: 21,
                                                    },
                                                },
                                            ),
                                            value: "WaterCar",
                                        },
                                    ),
                                    body: None,
                                },
                            ],
                        },
                    ),
                },
            ),
        ],
    },
}
