Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/annotation_single_binary.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: 0,
            end: 169,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 7,
                end: 15,
            },
        ),
        value: "Campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 16,
                end: 168,
            },
        ),
        file_id: None,
        is_library: false,
        imports: [],
        annotations: [
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: 22,
                            end: 163,
                        },
                    ),
                    name_reference: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: 23,
                                    end: 32,
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: 23,
                                        end: 25,
                                    },
                                ),
                                value: "dc",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: 26,
                                        end: 32,
                                    },
                                ),
                                value: "author",
                            },
                        },
                    ),
                    value: Simple(
                        Binary(
                            Binary(
                                [],
                            ),
                        ),
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
