Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/annotation_single_string.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: 0,
            end: 76,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 38,
                end: 46,
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 47,
                end: 75,
            },
        ),
        imports: [],
        annotations: [
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: 53,
                            end: 70,
                        },
                    ),
                    name_reference: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: 54,
                                    end: 63,
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: 54,
                                        end: 56,
                                    },
                                ),
                                value: "dc",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: 57,
                                        end: 63,
                                    },
                                ),
                                value: "author",
                            },
                        },
                    ),
                    value: Simple(
                        String(
                            LanguageString {
                                span: Some(
                                    Span {
                                        start: 66,
                                        end: 70,
                                    },
                                ),
                                value: "me",
                                language: None,
                            },
                        ),
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
