Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/annotation_multiple_language_string.sdm",
    ),
    span: Some(
        Span {
            start: 0,
            end: 135,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 57,
                end: 65,
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 66,
                end: 134,
            },
        ),
        imports: [],
        annotations: [
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: 72,
                            end: 129,
                        },
                    ),
                    name_reference: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: 73,
                                    end: 81,
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: 73,
                                        end: 75,
                                    },
                                ),
                                value: "dc",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: 76,
                                        end: 81,
                                    },
                                ),
                                value: "title",
                            },
                        },
                    ),
                    value: List(
                        SequenceOfValues {
                            span: Some(
                                Span {
                                    start: 84,
                                    end: 129,
                                },
                            ),
                            ordering: None,
                            uniqueness: None,
                            values: [
                                Simple(
                                    String(
                                        LanguageString {
                                            span: Some(
                                                Span {
                                                    start: 86,
                                                    end: 112,
                                                },
                                            ),
                                            value: "a rather good test",
                                            language: Some(
                                                LanguageTag {
                                                    span: Some(
                                                        Span {
                                                            start: 106,
                                                            end: 112,
                                                        },
                                                    ),
                                                    value: "en-GB",
                                                },
                                            ),
                                        },
                                    ),
                                ),
                                Simple(
                                    String(
                                        LanguageString {
                                            span: Some(
                                                Span {
                                                    start: 113,
                                                    end: 127,
                                                },
                                            ),
                                            value: "a test",
                                            language: Some(
                                                LanguageTag {
                                                    span: Some(
                                                        Span {
                                                            start: 121,
                                                            end: 127,
                                                        },
                                                    ),
                                                    value: "en-US",
                                                },
                                            ),
                                        },
                                    ),
                                ),
                            ],
                        },
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
