Module {
    span: Some(
        Span {
            start: 0,
            end: 135,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 57,
                end: 65,
            },
        ),
        value: "campaign",
    },
    base: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 66,
                end: 134,
            },
        ),
        imports: [],
        annotations: [
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: 72,
                            end: 129,
                        },
                    ),
                    name: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: None,
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: 73,
                                        end: 75,
                                    },
                                ),
                                value: "dc",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: 76,
                                        end: 81,
                                    },
                                ),
                                value: "title",
                            },
                        },
                    ),
                    value: List(
                        ListOfValues {
                            span: None,
                            values: [
                                Simple(
                                    String(
                                        LanguageString {
                                            span: Some(
                                                Span {
                                                    start: 86,
                                                    end: 112,
                                                },
                                            ),
                                            value: "a rather good test",
                                            language: Some(
                                                LanguageTag {
                                                    span: None,
                                                    value: "en-GB",
                                                },
                                            ),
                                        },
                                    ),
                                ),
                                Simple(
                                    String(
                                        LanguageString {
                                            span: Some(
                                                Span {
                                                    start: 113,
                                                    end: 127,
                                                },
                                            ),
                                            value: "a test",
                                            language: Some(
                                                LanguageTag {
                                                    span: None,
                                                    value: "en-US",
                                                },
                                            ),
                                        },
                                    ),
                                ),
                            ],
                        },
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
