Module {
    span: Some(
        Span {
            start: 0,
            end: 99,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 43,
                end: 51,
            },
        ),
        value: "campaign",
    },
    base: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 52,
                end: 98,
            },
        ),
        imports: [],
        annotations: [
            Property(
                AnnotationProperty {
                    span: Some(
                        Span {
                            start: 58,
                            end: 93,
                        },
                    ),
                    name: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: None,
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: 59,
                                        end: 61,
                                    },
                                ),
                                value: "dc",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: 62,
                                        end: 68,
                                    },
                                ),
                                value: "author",
                            },
                        },
                    ),
                    value: ValueConstructor(
                        ValueConstructor {
                            span: Some(
                                Span {
                                    start: 71,
                                    end: 93,
                                },
                            ),
                            type_name: QualifiedIdentifier(
                                QualifiedIdentifier {
                                    span: None,
                                    module: Identifier {
                                        span: Some(
                                            Span {
                                                start: 71,
                                                end: 74,
                                            },
                                        ),
                                        value: "xsd",
                                    },
                                    member: Identifier {
                                        span: Some(
                                            Span {
                                                start: 75,
                                                end: 90,
                                            },
                                        ),
                                        value: "positiveInteger",
                                    },
                                },
                            ),
                            value: Integer(
                                1,
                            ),
                        },
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
