Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/constraint_informal_language_controlled.sdm",
    ),
    span: Some(
        Span {
            start: 0,
            end: 88,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 7,
                end: 14,
            },
        ),
        value: "Example",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 15,
                end: 87,
            },
        ),
        imports: [],
        annotations: [
            Constraint(
                Constraint {
                    span: None,
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 27,
                                end: 41,
                            },
                        ),
                        value: "no_definitions",
                    },
                    body: Informal(
                        ControlledLanguageString {
                            span: Some(
                                Span {
                                    start: 42,
                                    end: 83,
                                },
                            ),
                            value: " \"This module has no definitions\"@en-AC",
                            language: Some(
                                ControlledLanguageTag {
                                    span: None,
                                    value: "= \"This module has no definitions\"@en-ACE",
                                },
                            ),
                        },
                    ),
                },
            ),
        ],
        definitions: [],
    },
}
