Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/datatype_empty.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: 0,
            end: 83,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 29,
                end: 37,
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 38,
                end: 82,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [
            Datatype(
                DatatypeDef {
                    span: Some(
                        Span {
                            start: 44,
                            end: 77,
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 53,
                                end: 63,
                            },
                        ),
                        value: "nameString",
                    },
                    opaque: false,
                    base_type: QualifiedIdentifier(
                        QualifiedIdentifier {
                            span: Some(
                                Span {
                                    start: 67,
                                    end: 77,
                                },
                            ),
                            module: Identifier {
                                span: Some(
                                    Span {
                                        start: 67,
                                        end: 70,
                                    },
                                ),
                                value: "xsd",
                            },
                            member: Identifier {
                                span: Some(
                                    Span {
                                        start: 71,
                                        end: 77,
                                    },
                                ),
                                value: "string",
                            },
                        },
                    ),
                    body: None,
                },
            ),
        ],
    },
}
