Module {
    span: Some(
        Span {
            start: 0,
            end: 138,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 46,
                end: 54,
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 55,
                end: 137,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [
            Entity(
                EntityDef {
                    span: Some(
                        Span {
                            start: 61,
                            end: 132,
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 68,
                                end: 76,
                            },
                        ),
                        value: "Campaign",
                    },
                    body: Some(
                        EntityBody {
                            span: Some(
                                Span {
                                    start: 77,
                                    end: 132,
                                },
                            ),
                            identity: EntityIdentity {
                                span: Some(
                                    Span {
                                        start: 85,
                                        end: 107,
                                    },
                                ),
                                name: Identifier {
                                    span: Some(
                                        Span {
                                            start: 94,
                                            end: 96,
                                        },
                                    ),
                                    value: "id",
                                },
                                kind: Definition(
                                    EntityIdentityDef {
                                        span: Some(
                                            Span {
                                                start: 85,
                                                end: 107,
                                            },
                                        ),
                                        target_type: Unknown,
                                        body: None,
                                    },
                                ),
                            },
                            annotations: [],
                            members: [
                                Member {
                                    span: Some(
                                        Span {
                                            start: 113,
                                            end: 125,
                                        },
                                    ),
                                    name: Identifier {
                                        span: Some(
                                            Span {
                                                start: 113,
                                                end: 114,
                                            },
                                        ),
                                        value: "a",
                                    },
                                    kind: Definition(
                                        MemberDef {
                                            span: Some(
                                                Span {
                                                    start: 113,
                                                    end: 125,
                                                },
                                            ),
                                            inverse_name: None,
                                            target_cardinality: Cardinality {
                                                span: None,
                                                ordering: None,
                                                uniqueness: None,
                                                range: CardinalityRange {
                                                    span: None,
                                                    min: 0,
                                                    max: Some(
                                                        1,
                                                    ),
                                                },
                                            },
                                            target_type: Unknown,
                                            body: None,
                                        },
                                    ),
                                },
                            ],
                        },
                    ),
                },
            ),
        ],
    },
}
