Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/entity_with_members.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: 0,
            end: 151,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 33,
                end: 41,
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 42,
                end: 150,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [
            Entity(
                EntityDef {
                    span: Some(
                        Span {
                            start: 48,
                            end: 145,
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 55,
                                end: 63,
                            },
                        ),
                        value: "Campaign",
                    },
                    body: Some(
                        EntityBody {
                            span: Some(
                                Span {
                                    start: 64,
                                    end: 145,
                                },
                            ),
                            identity: EntityIdentity {
                                span: Some(
                                    Span {
                                        start: 72,
                                        end: 96,
                                    },
                                ),
                                name: Identifier {
                                    span: Some(
                                        Span {
                                            start: 81,
                                            end: 83,
                                        },
                                    ),
                                    value: "id",
                                },
                                kind: Definition(
                                    EntityIdentityDef {
                                        span: Some(
                                            Span {
                                                start: 72,
                                                end: 96,
                                            },
                                        ),
                                        target_type: Type(
                                            QualifiedIdentifier(
                                                QualifiedIdentifier {
                                                    span: Some(
                                                        Span {
                                                            start: 87,
                                                            end: 96,
                                                        },
                                                    ),
                                                    module: Identifier {
                                                        span: Some(
                                                            Span {
                                                                start: 87,
                                                                end: 89,
                                                            },
                                                        ),
                                                        value: "xs",
                                                    },
                                                    member: Identifier {
                                                        span: Some(
                                                            Span {
                                                                start: 90,
                                                                end: 96,
                                                            },
                                                        ),
                                                        value: "string",
                                                    },
                                                },
                                            ),
                                        ),
                                        body: None,
                                    },
                                ),
                            },
                            annotations: [],
                            members: [
                                Member {
                                    span: Some(
                                        Span {
                                            start: 102,
                                            end: 117,
                                        },
                                    ),
                                    name: Identifier {
                                        span: Some(
                                            Span {
                                                start: 102,
                                                end: 103,
                                            },
                                        ),
                                        value: "a",
                                    },
                                    kind: Definition(
                                        MemberDef {
                                            span: Some(
                                                Span {
                                                    start: 102,
                                                    end: 117,
                                                },
                                            ),
                                            inverse_name: None,
                                            target_cardinality: Cardinality {
                                                span: None,
                                                ordering: None,
                                                uniqueness: None,
                                                range: CardinalityRange {
                                                    span: None,
                                                    min: 1,
                                                    max: Some(
                                                        1,
                                                    ),
                                                },
                                            },
                                            target_type: Type(
                                                QualifiedIdentifier(
                                                    QualifiedIdentifier {
                                                        span: Some(
                                                            Span {
                                                                start: 107,
                                                                end: 117,
                                                            },
                                                        ),
                                                        module: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 107,
                                                                    end: 110,
                                                                },
                                                            ),
                                                            value: "xsd",
                                                        },
                                                        member: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 111,
                                                                    end: 117,
                                                                },
                                                            ),
                                                            value: "string",
                                                        },
                                                    },
                                                ),
                                            ),
                                            body: None,
                                        },
                                    ),
                                },
                                Member {
                                    span: Some(
                                        Span {
                                            start: 122,
                                            end: 138,
                                        },
                                    ),
                                    name: Identifier {
                                        span: Some(
                                            Span {
                                                start: 122,
                                                end: 123,
                                            },
                                        ),
                                        value: "b",
                                    },
                                    kind: Definition(
                                        MemberDef {
                                            span: Some(
                                                Span {
                                                    start: 122,
                                                    end: 138,
                                                },
                                            ),
                                            inverse_name: None,
                                            target_cardinality: Cardinality {
                                                span: None,
                                                ordering: None,
                                                uniqueness: None,
                                                range: CardinalityRange {
                                                    span: None,
                                                    min: 1,
                                                    max: Some(
                                                        1,
                                                    ),
                                                },
                                            },
                                            target_type: Type(
                                                QualifiedIdentifier(
                                                    QualifiedIdentifier {
                                                        span: Some(
                                                            Span {
                                                                start: 127,
                                                                end: 138,
                                                            },
                                                        ),
                                                        module: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 127,
                                                                    end: 130,
                                                                },
                                                            ),
                                                            value: "xsd",
                                                        },
                                                        member: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 131,
                                                                    end: 138,
                                                                },
                                                            ),
                                                            value: "integer",
                                                        },
                                                    },
                                                ),
                                            ),
                                            body: None,
                                        },
                                    ),
                                },
                            ],
                        },
                    ),
                },
            ),
        ],
    },
}
