Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/enum_empty.sdm",
    ),
    span: Some(
        Span {
            start: 0,
            end: 58,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 24,
                end: 32,
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 33,
                end: 57,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [
            Enum(
                EnumDef {
                    span: Some(
                        Span {
                            start: 39,
                            end: 52,
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 44,
                                end: 52,
                            },
                        ),
                        value: "NameKind",
                    },
                    body: None,
                },
            ),
        ],
    },
}
