Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/module_empty_with_comments.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: 0,
            end: 251,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 214,
                end: 222,
            },
        ),
        value: "campaign",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 223,
                end: 229,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [],
    },
}
