Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/module_empty_with_base.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: 0,
            end: 57,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 7,
                end: 15,
            },
        ),
        value: "Campaign",
    },
    base_uri: Some(
        HeaderValue {
            span: Some(
                Span {
                    start: 16,
                    end: 49,
                },
            ),
            value: Url {
                scheme: "https",
                cannot_be_a_base: false,
                username: "",
                password: None,
                host: Some(
                    Domain(
                        "example.org",
                    ),
                ),
                port: None,
                path: "/v/Campaign",
                query: None,
                fragment: Some(
                    "",
                ),
            },
        },
    ),
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 50,
                end: 56,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [],
    },
}
