Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/module_empty_with_version.sdm",
    ),
    span: Some(
        Span {
            start: 0,
            end: 106,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 7,
                end: 15,
            },
        ),
        value: "Campaign",
    },
    base_uri: Some(
        Url {
            scheme: "https",
            cannot_be_a_base: false,
            username: "",
            password: None,
            host: Some(
                Domain(
                    "example.org",
                ),
            ),
            port: None,
            path: "/v/Campaign",
            query: None,
            fragment: Some(
                "",
            ),
        },
    ),
    version_info: Some(
        "2",
    ),
    version_uri: Some(
        Url {
            scheme: "https",
            cannot_be_a_base: false,
            username: "",
            password: None,
            host: Some(
                Domain(
                    "example.org",
                ),
            ),
            port: None,
            path: "/v2/Campaign",
            query: None,
            fragment: Some(
                "",
            ),
        },
    ),
    body: ModuleBody {
        span: Some(
            Span {
                start: 99,
                end: 105,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [],
    },
}
