Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/module_with_underscore.sdm",
    ),
    span: Some(
        Span {
            start: 0,
            end: 63,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 44,
                end: 55,
            },
        ),
        value: "rental_cars",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 56,
                end: 62,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [],
    },
}
