Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/property_def_empty.sdm",
    ),
    file_id: Some(
        0,
    ),
    span: Some(
        Span {
            start: 0,
            end: 42,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 7,
                end: 12,
            },
        ),
        value: "ddict",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 13,
                end: 41,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [
            Property(
                PropertyDef {
                    span: Some(
                        Span {
                            start: 18,
                            end: 37,
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 27,
                                end: 37,
                            },
                        ),
                        value: "accountIdd",
                    },
                    body: None,
                },
            ),
        ],
    },
}
