Module {
    source_file: Some(
        "MANIFEST_PATH/tests/examples/property_def_some.sdm",
    ),
    span: Some(
        Span {
            start: 0,
            end: 186,
        },
    ),
    name: Identifier {
        span: Some(
            Span {
                start: 7,
                end: 12,
            },
        ),
        value: "ddict",
    },
    base_uri: None,
    version_info: None,
    version_uri: None,
    body: ModuleBody {
        span: Some(
            Span {
                start: 13,
                end: 185,
            },
        ),
        imports: [],
        annotations: [],
        definitions: [
            Property(
                PropertyDef {
                    span: Some(
                        Span {
                            start: 18,
                            end: 181,
                        },
                    ),
                    name: Identifier {
                        span: Some(
                            Span {
                                start: 27,
                                end: 36,
                            },
                        ),
                        value: "accountId",
                    },
                    body: Some(
                        PropertyBody {
                            span: Some(
                                Span {
                                    start: 37,
                                    end: 181,
                                },
                            ),
                            annotations: [],
                            roles: [
                                PropertyRole {
                                    span: Some(
                                        Span {
                                            start: 44,
                                            end: 122,
                                        },
                                    ),
                                    name: Identifier {
                                        span: Some(
                                            Span {
                                                start: 44,
                                                end: 54,
                                            },
                                        ),
                                        value: "identifier",
                                    },
                                    definition: Member(
                                        MemberDef {
                                            span: Some(
                                                Span {
                                                    start: 44,
                                                    end: 122,
                                                },
                                            ),
                                            inverse_name: None,
                                            target_cardinality: Cardinality {
                                                span: Some(
                                                    Span {
                                                        start: 58,
                                                        end: 61,
                                                    },
                                                ),
                                                ordering: Some(
                                                    Unordered,
                                                ),
                                                uniqueness: Some(
                                                    Nonunique,
                                                ),
                                                range: CardinalityRange {
                                                    span: None,
                                                    min: 1,
                                                    max: Some(
                                                        1,
                                                    ),
                                                },
                                            },
                                            target_type: Type(
                                                QualifiedIdentifier(
                                                    QualifiedIdentifier {
                                                        span: Some(
                                                            Span {
                                                                start: 62,
                                                                end: 79,
                                                            },
                                                        ),
                                                        module: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 62,
                                                                    end: 69,
                                                                },
                                                            ),
                                                            value: "account",
                                                        },
                                                        member: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 70,
                                                                    end: 79,
                                                                },
                                                            ),
                                                            value: "AccountId",
                                                        },
                                                    },
                                                ),
                                            ),
                                            body: Some(
                                                AnnotationOnlyBody {
                                                    span: Some(
                                                        Span {
                                                            start: 80,
                                                            end: 122,
                                                        },
                                                    ),
                                                    annotations: [
                                                        Property(
                                                            AnnotationProperty {
                                                                span: Some(
                                                                    Span {
                                                                        start: 89,
                                                                        end: 114,
                                                                    },
                                                                ),
                                                                name_reference: QualifiedIdentifier(
                                                                    QualifiedIdentifier {
                                                                        span: Some(
                                                                            Span {
                                                                                start: 90,
                                                                                end: 105,
                                                                            },
                                                                        ),
                                                                        module: Identifier {
                                                                            span: Some(
                                                                                Span {
                                                                                    start: 90,
                                                                                    end: 94,
                                                                                },
                                                                            ),
                                                                            value: "skos",
                                                                        },
                                                                        member: Identifier {
                                                                            span: Some(
                                                                                Span {
                                                                                    start: 95,
                                                                                    end: 105,
                                                                                },
                                                                            ),
                                                                            value: "definition",
                                                                        },
                                                                    },
                                                                ),
                                                                value: Simple(
                                                                    String(
                                                                        LanguageString {
                                                                            span: Some(
                                                                                Span {
                                                                                    start: 108,
                                                                                    end: 114,
                                                                                },
                                                                            ),
                                                                            value: "a",
                                                                            language: Some(
                                                                                LanguageTag {
                                                                                    span: Some(
                                                                                        Span {
                                                                                            start: 111,
                                                                                            end: 114,
                                                                                        },
                                                                                    ),
                                                                                    value: "en",
                                                                                },
                                                                            ),
                                                                        },
                                                                    ),
                                                                ),
                                                            },
                                                        ),
                                                    ],
                                                },
                                            ),
                                        },
                                    ),
                                },
                                PropertyRole {
                                    span: Some(
                                        Span {
                                            start: 127,
                                            end: 175,
                                        },
                                    ),
                                    name: Identifier {
                                        span: Some(
                                            Span {
                                                start: 127,
                                                end: 136,
                                            },
                                        ),
                                        value: "reference",
                                    },
                                    definition: Member(
                                        MemberDef {
                                            span: Some(
                                                Span {
                                                    start: 127,
                                                    end: 175,
                                                },
                                            ),
                                            inverse_name: Some(
                                                Identifier {
                                                    span: Some(
                                                        Span {
                                                            start: 137,
                                                            end: 150,
                                                        },
                                                    ),
                                                    value: "(inverse_ref)",
                                                },
                                            ),
                                            target_cardinality: Cardinality {
                                                span: Some(
                                                    Span {
                                                        start: 154,
                                                        end: 157,
                                                    },
                                                ),
                                                ordering: Some(
                                                    Unordered,
                                                ),
                                                uniqueness: Some(
                                                    Nonunique,
                                                ),
                                                range: CardinalityRange {
                                                    span: None,
                                                    min: 1,
                                                    max: Some(
                                                        1,
                                                    ),
                                                },
                                            },
                                            target_type: Type(
                                                QualifiedIdentifier(
                                                    QualifiedIdentifier {
                                                        span: Some(
                                                            Span {
                                                                start: 158,
                                                                end: 175,
                                                            },
                                                        ),
                                                        module: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 158,
                                                                    end: 165,
                                                                },
                                                            ),
                                                            value: "account",
                                                        },
                                                        member: Identifier {
                                                            span: Some(
                                                                Span {
                                                                    start: 166,
                                                                    end: 175,
                                                                },
                                                            ),
                                                            value: "AccountId",
                                                        },
                                                    },
                                                ),
                                            ),
                                            body: None,
                                        },
                                    ),
                                },
                            ],
                        },
                    ),
                },
            ),
        ],
    },
}
