ModuleRef(
    RefCell {
        value: Module {
            span: Some(
                Span {
                    start: 0,
                    end: 74,
                },
            ),
            name: Identifier {
                span: Some(
                    Span {
                        start: 7,
                        end: 12,
                    },
                ),
                value: "ddict",
            },
            base: None,
            body: ModuleBody {
                span: Some(
                    Span {
                        start: 13,
                        end: 73,
                    },
                ),
                imports: [],
                annotations: [],
                definitions: [
                    Structure(
                        StructureDef {
                            span: Some(
                                Span {
                                    start: 18,
                                    end: 69,
                                },
                            ),
                            name: Identifier {
                                span: Some(
                                    Span {
                                        start: 28,
                                        end: 35,
                                    },
                                ),
                                value: "Account",
                            },
                            body: Some(
                                StructureBody {
                                    span: Some(
                                        Span {
                                            start: 36,
                                            end: 69,
                                        },
                                    ),
                                    annotations: [],
                                    members: [
                                        Member {
                                            span: Some(
                                                Span {
                                                    start: 43,
                                                    end: 63,
                                                },
                                            ),
                                            name: Identifier {
                                                span: Some(
                                                    Span {
                                                        start: 43,
                                                        end: 50,
                                                    },
                                                ),
                                                value: "default",
                                            },
                                            kind: PropertyReference(
                                                Identifier(
                                                    Identifier {
                                                        span: Some(
                                                            Span {
                                                                start: 54,
                                                                end: 63,
                                                            },
                                                        ),
                                                        value: "accountId",
                                                    },
                                                ),
                                            ),
                                        },
                                    ],
                                    groups: [],
                                },
                            ),
                        },
                    ),
                ],
            },
        },
    },
)
