ModuleRef(
    RefCell {
        value: Module {
            span: Some(
                Span {
                    start: 0,
                    end: 103,
                },
            ),
            name: Identifier {
                span: Some(
                    Span {
                        start: 7,
                        end: 15,
                    },
                ),
                value: "Campaign",
            },
            base: None,
            body: ModuleBody {
                span: Some(
                    Span {
                        start: 16,
                        end: 102,
                    },
                ),
                imports: [],
                annotations: [],
                definitions: [
                    Structure(
                        StructureDef {
                            span: Some(
                                Span {
                                    start: 22,
                                    end: 97,
                                },
                            ),
                            name: Identifier {
                                span: Some(
                                    Span {
                                        start: 32,
                                        end: 37,
                                    },
                                ),
                                value: "Thing",
                            },
                            body: Some(
                                StructureBody {
                                    span: Some(
                                        Span {
                                            start: 38,
                                            end: 97,
                                        },
                                    ),
                                    annotations: [],
                                    members: [
                                        Member {
                                            span: Some(
                                                Span {
                                                    start: 45,
                                                    end: 91,
                                                },
                                            ),
                                            name: Identifier {
                                                span: Some(
                                                    Span {
                                                        start: 45,
                                                        end: 55,
                                                    },
                                                ),
                                                value: "properties",
                                            },
                                            kind: Definition(
                                                MemberDef {
                                                    span: Some(
                                                        Span {
                                                            start: 45,
                                                            end: 91,
                                                        },
                                                    ),
                                                    inverse_name: None,
                                                    target_cardinality: Cardinality {
                                                        span: Some(
                                                            Span {
                                                                start: 59,
                                                                end: 71,
                                                            },
                                                        ),
                                                        ordering: Some(
                                                            Unordered,
                                                        ),
                                                        uniqueness: Some(
                                                            Unique,
                                                        ),
                                                        range: CardinalityRange {
                                                            span: None,
                                                            min: 1,
                                                            max: None,
                                                        },
                                                    },
                                                    target_type: MappingType(
                                                        MappingType {
                                                            span: Some(
                                                                Span {
                                                                    start: 72,
                                                                    end: 91,
                                                                },
                                                            ),
                                                            domain: Type(
                                                                QualifiedIdentifier(
                                                                    QualifiedIdentifier {
                                                                        span: Some(
                                                                            Span {
                                                                                start: 73,
                                                                                end: 79,
                                                                            },
                                                                        ),
                                                                        module: Identifier {
                                                                            span: None,
                                                                            value: "sdml",
                                                                        },
                                                                        member: Identifier {
                                                                            span: Some(
                                                                                Span {
                                                                                    start: 73,
                                                                                    end: 79,
                                                                                },
                                                                            ),
                                                                            value: "string",
                                                                        },
                                                                    },
                                                                ),
                                                            ),
                                                            range: Type(
                                                                QualifiedIdentifier(
                                                                    QualifiedIdentifier {
                                                                        span: Some(
                                                                            Span {
                                                                                start: 83,
                                                                                end: 90,
                                                                            },
                                                                        ),
                                                                        module: Identifier {
                                                                            span: None,
                                                                            value: "sdml",
                                                                        },
                                                                        member: Identifier {
                                                                            span: Some(
                                                                                Span {
                                                                                    start: 83,
                                                                                    end: 90,
                                                                                },
                                                                            ),
                                                                            value: "integer",
                                                                        },
                                                                    },
                                                                ),
                                                            ),
                                                        },
                                                    ),
                                                    body: None,
                                                },
                                            ),
                                        },
                                    ],
                                    groups: [],
                                },
                            ),
                        },
                    ),
                ],
            },
        },
    },
)
