[package]
name = "sdml-cli"
description = "Rust CLI for Simple Domain Modeling Language (SDML)"
version = "0.1.6"
authors = ["Simon Johnston <johnstonskj@gmail.com>"]
repository = "https://github.com/johnstonskj/rust-sdml.git"
license = "MIT"
readme = "README.md"
edition = "2021"
publish = true

[[bin]]
name = "sdml"
path = "src/main.rs"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
all-features = true

[dependencies]
sdml-core = { version = "0.1", path = "../sdml-core" }
sdml-parse = { version = "0.1", path = "../sdml-parse" }
sdml-generate = { version = "0.1", path = "../sdml-generate" }
ansi_term = "0.12.1"
clap = { version = "4.3.8", features = ["derive", "env", "wrap_help"] }
clap-verbosity-flag = "2.0.1"
codespan-reporting = "0.11.1"
lazy_static = "1.4.0"
ordered-float = "3.7.0"
paste = "1.0.12"
regex = "1.8.4"
rust_decimal = "1.30.0"
search_path = "0.1.4"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [ "env-filter" ] }
tree-sitter = "0.20.10"
tree-sitter-highlight = "0.20.1"
tree-sitter-sdml = "0.2"
url = "2.4.0"
tempfile = "3.6.0"

[dev-dependencies]
pretty_assertions = "1.3.0"
